<%= simple_form_for @link, data: { turbo: false }, class: "mt-4" do |f| %>
  <% if flash[:errors] %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(flash[:errors].count, "error") %> prohibited this link from being saved:</h4>
      <ul>
        <% flash[:errors].each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.text_field :url, placeholder: "URL", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.select :link_type, Link.link_types.keys.map { |type| [type.capitalize, type] }, {}, id: 'link_type_select', class: "form-select" %>
  </div>

  <div class="mb-3" id="expiration-date-field" style="<%= 'display: none;' unless @link.link_type == 'temporary' %>">
    <%= f.datetime_field :expiration_date, placeholder: "Expiration Date", class: "form-control" %>
  </div>

  <div class="mb-3" id="password-field" style="<%= 'display: none;' unless @link.link_type == 'private_link' %>">
    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
  </div>

  <div class="mb-3" id="password-confirmation-field" style="<%= 'display: none;' unless @link.link_type == 'private_link' %>">
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.submit @link.new_record? ? "Create Link" : "Edit Link", class: "btn btn-primary" %>
  </div>
<% end %>


<%= link_to 'Back', user_path(current_user), class: "btn btn-secondary" %>

<script>
  document.addEventListener('turbo:load', function () {
    const linkTypeSelect = document.getElementById('link_type_select');
    const expirationDateField = document.getElementById('expiration-date-field');
    const passwordField = document.getElementById('password-field');
    const passwordConfirmationField = document.getElementById('password-confirmation-field');

    function toggleExpirationDateField() {
      expirationDateField.style.display = linkTypeSelect.value === 'temporary' ? 'block' : 'none';
    }

    function togglePasswordField() {
      passwordField.style.display = linkTypeSelect.value === 'private_link' ? 'block' : 'none';
      passwordConfirmationField.style.display = linkTypeSelect.value === 'private_link' ? 'block' : 'none';
    }

    linkTypeSelect.addEventListener('change', toggleExpirationDateField);
    linkTypeSelect.addEventListener('change', togglePasswordField);

    toggleExpirationDateField();
    togglePasswordField();
  });
</script>
