
<%= form_for @link do |f| %>
  <% if flash[:errors] %>
    <div id="error_explanation">
      <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this link from being saved:</h2>
      <ul>
        <% flash[:errors].each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field" >
    <%= f.label :link_type %>
    <%= f.select :link_type, Link.link_types.keys.map { |type| [type.capitalize, type] }, {}, id: 'link_type_select' %>
  </div>

  <div class="field" id="expiration-date-field" style="<%= 'display: none;' unless @link.link_type == 'temporary' %>">
    <%= f.label :expiration_date %>
    <%= f.datetime_field :expiration_date %>
  </div>

  <div class="field" id="password-field" style="<%= 'display: none;' unless @link.link_type == 'private_link' %>">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="field" id="password-confirmation-field" style="<%= 'display: none;' unless @link.link_type == 'private_link' %>">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit @link.new_record? ? "Create Link" : "Editar Link" %>
  </div>

<% end %>


<%= link_to 'Back', user_path(current_user) %>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const linkTypeSelect = document.getElementById('link_type_select');
  const expirationDateField = document.getElementById('expiration-date-field');
  const passwordField = document.getElementById('password-field');
  const passwordConfirmationField = document.getElementById('password-confirmation-field');

  function toggleExpirationDateField() {
    expirationDateField.style.display = linkTypeSelect.value === 'temporary' ? 'block' : 'none';
    console.log(linkTypeSelect.value);
  }

  function togglePasswordField() {
    passwordField.style.display = linkTypeSelect.value === 'private_link' ? 'block' : 'none';
    passwordConfirmationField.style.display = linkTypeSelect.value === 'private_link' ? 'block' : 'none';
  }

  linkTypeSelect.addEventListener('change', toggleExpirationDateField);
  linkTypeSelect.addEventListener('change', togglePasswordField);

  // Llama a las funciones una vez al cargar la página para establecer el estado inicial
  toggleExpirationDateField();
  togglePasswordField();
});
</script>
