<h1>All Links</h1>

<% @links.each do |link| %>
<p>
  <%= link_to build_link_url(link.slug),  redirect_link_path(link.slug) %>
  <%= link.link_type.capitalize %>
  <%= link_to 'Show', link_path(link), class: 'btn btn-primary' %>
  <%= link_to 'Edit', edit_link_path(link), class: 'btn btn-secondary' %>
  <%= form_with(model: @link, local: true, method: :delete) do |form| %>
  <%= form.csrf_token %>
  <%= form.submit 'Delete' %>
  <% end %>



</p>
<% end %>

<%= link_to 'New Link', new_link_path, class: 'btn btn-primary' %>