<h1>All Links</h1>

<% @links.each do |link| %>
  <div class="d-flex align-items-center mb-2">
    <%= button_to redirect_link_path(link.slug), method: :get, class: 'btn btn-link selectable-button', data: { turbo: false }, style: 'white-space: nowrap;' do %>
      <%= build_link_url(link.slug) %>
    <% end %>
    <%= link.link_type.capitalize   %>
    <%= link_to 'Show', link_path(link), class: 'btn btn-outline-info btn-sm', data: { turbo: false } %>
    <%= link_to 'Edit', edit_link_path(link), class: 'btn btn-secondary mr-2' %>
    <%= link_to 'Delete', link, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure' }, class: 'btn btn-danger mr-2' %>
  </div>
<% end %>
<%= will_paginate @links %>

<%= link_to 'New Link', new_link_path, class: 'btn btn-primary' %>
