<div class="container mt-4">
  <h1 class="mb-4">All Links</h1>

  <% @links.each do |link| %>
    <div class="card mb-3">
      <div class="card-body d-flex align-items-center">
        <%= button_to redirect_link_path(link.slug), method: :get, class: 'btn btn-link selectable-button', data: { turbo: false }, style: 'white-space: nowrap;' do %>
          <%= build_link_url(link.slug) %>
        <% end %>
        <span class="ms-2"><%= link.link_type.capitalize %></span>
        <%= link_to 'Show', link_path(link), class: 'btn btn-outline-info btn-sm ms-2', data: { turbo: false } %>
        <%= link_to 'Edit', edit_link_path(link), class: 'btn btn-secondary ms-2' %>
        <%= link_to 'Delete', link, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure' }, class: 'btn btn-danger ms-2' %>
      </div>
    </div>
  <% end %>

  <div class="mt-4">
    <%= will_paginate @links, class: 'pagination justify-content-center' %>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto mt-4">
    <%= link_to 'New Link', new_link_path, class: 'btn btn-primary' %>
  </div>
</div>
