<h1>All Links</h1>

<% @links.each do |link| %>
  <p>
    <%= link_to build_link_url(link.slug), link_path(link) %>
    <%= link.link_type.capitalize %>
    <%= link_to 'Show', link_path(link), class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_link_path(link), class: 'btn btn-secondary' %>
    <%= link_to 'Delete', link, method: :delete, data: { turbo_method: :delete,confirm:'Are you sure' }, class: 'btn btn-danger'%>

  </p>
<% end %>

<%= link_to 'New Link', new_link_path, class: 'btn btn-primary' %>
