<div class="container mt-5">
  <h1 class="mb-4">Private Link Details</h1>

  <%= form_for @link, url: { action: :update_password }, method: :patch do |f| %>
    <% if flash[:errors] %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Errors prohibited this link from being saved:</h4>
        <ul>
          <% flash[:errors].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :password, class: 'form-label' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto mt-4">
      <%= f.submit "Submit Password", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= link_to 'Back to Links', user_path(current_user), class: 'btn btn-secondary mt-3' %>
</div>
