<%= form_tag link_path(@link), method: :get do %>
  <div class="form-group">
    <%= label_tag 'filter_ip', 'Filter by IP:' %>
    <%= text_field_tag 'filter_ip', params[:filter_ip], class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag 'start_date', 'Start Date:' %>
    <%= date_field_tag 'start_date', params[:start_date], class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag 'end_date', 'End Date:' %>
    <%= date_field_tag 'end_date', params[:end_date], class: 'form-control' %>
  </div>

  <%= submit_tag 'Apply Filters', class: 'btn btn-primary' %>
<% end %>

<% if @link_visits.any? %>
  <h2 class="mt-4 text-primary">Visits</h2>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Accessed At</th>
          <th>IP Address</th>
        </tr>
      </thead>
      <tbody>
        <% @link_visits.each do |visit| %>
          <tr>
            <td><%= visit.id %></td>
            <td><%= visit.accessed_at %></td>
            <td><%= visit.ip_address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <%= will_paginate @link_visits, param_name: 'visit_page', class: 'pagination' %>

   <h2 class="mt-4 text-primary">Visits Per Day</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Total Visits</th>
        </tr>
      </thead>
      <tbody>
        <% @link.daily_visits_count.each do |date, count| %>
          <tr>
            <td><%= date %></td>
            <td><%= count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <p class="mt-4">No visits available for this link for the specified parameters.</p>
<% end %>
<p class="mt-4 total-visits">
  <strong>Total Visits:</strong> <%= @link.visits.count %>
</p>
