<!-- app/views/links/show.html.erb -->

<div class="container mt-5">
  <h1 class="mb-4 text-primary">Link Details</h1>

  <dl class="row bg-light">
    <dt class="col-sm-3 text-secondary">ID:</dt>
    <dd class="col-sm-9"><%= @link.id %></dd>

    <dt class="col-sm-3 text-secondary">User ID:</dt>
    <dd class="col-sm-9"><%= @link.user_id %></dd>

    <dt class="col-sm-3 text-secondary">Slug:</dt>
    <dd class="col-sm-9"><%= @link.slug %></dd>

    <dt class="col-sm-3 text-secondary">URL:</dt>
    <dd class="col-sm-9"><%= link_to @link.url, @link.url, target: "_blank" %></dd>

    <dt class="col-sm-3 text-secondary">Created At:</dt>
    <dd class="col-sm-9"><%= @link.created_at %></dd>

    <dt class="col-sm-3 text-secondary">Updated At:</dt>
    <dd class="col-sm-9"><%= @link.updated_at %></dd>
    <% case @link.link_type.to_sym %>
      <% when :temporary %>
        <dt class="col-sm-3 text-secondary">Expiration Date:</dt>
        <dd class="col-sm-9"><%= @link.expiration_date %></dd>
        <% if @link.expired? %> 
          <dd class="col-sm-9 expired-alert">This link has expired.</dd>
        <% end %>
      <% when :private_link %>
        <dt class="col-sm-3 text-secondary">Password:</dt>
        <dd class="col-sm-9"><%= @link.password %></dd>

      <% when :ephemeral %>
        <dt class="col-sm-3 text-secondary">Accessed:</dt>
        <dd class="col-sm-9"><%= @link.accessed ? 'Yes' : 'No' %></dd>
        <% if @link.accessed? %> 
          <dd class="col-sm-9 expired-alert">This link has already been accessed</dd>
          <%= link_to 'Reset Ephemeral Link',
            reset_ephemeral_link_link_path(@link),
            method: :patch,
            remote: true,
            data: { turbo_method: :patch, turbo_confirm: 'Are you sure?' },
            class: 'btn btn-warning',
            'data-turbo-frame': 'your-turbo-frame-id' %>
        <% end %>
    <% end %>
  </dl>

  <%= link_to 'Back to Links', user_path(current_user), class: 'btn btn-primary' %>
</div>